
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<body>

    <div class="jumbotron text-center">
        <h1 class="display-3">Thank You!</h1>
        <p class="lead">We have sent an email contain your order detail, please check your email</p>
        <hr>
        <p>
            Having trouble? <a href="">Contact us</a>
        </p>
        <p class="lead">
            <a class="btn btn-primary btn-sm" href="/" role="button">
                Go to
                homepage
            </a>
        </p>
    </div>
</body>


